*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
h1, h2, h3{
	font-family: 'Bree Serif', serif;}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
a{
	text-decoration: none;
}
/*+++++++++++++++++++++++ header y nav ++++++++++++++++++++++++++*/

header{
	background-image: linear-gradient(to right, #dadada, #525252);
	overflow: hidden;
}
.logo {
	font-size: 150px;
	font-family: 'Stardos Stencil', cursive;
	height: 180px;
	margin-left: 60px;
	padding-top: 20px;
	transform: rotate(2deg);
}
header a{
	color: white;
}
body{
	background-color: #525252;
}
/*++++++++menu hambuergesa+++++*/
#flag {
	display: none;
}
.menu-toogle {
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	cursor: pointer;
	right: 20px;
	top: 160px;
}
.menu-toogle span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 3px;
	margin: auto;
	background: #fff;
}
.menu-toogle span:before,
.menu-toogle span:after {
	position: absolute;
	width: inherit;
	height: inherit;
	content: '';
	background: #fff;
	left: 0;
}
.menu-toogle span:before {
	top: -0.7em;
}
.menu-toogle span:after {
	bottom: -0.7em;
}
/*+++++++++++++++ NAV ++++++++++++++++++*/
#flag:checked ~ nav{
	bottom: 0px;
}
nav{
	height: 60px;
	position: relative;
	bottom: -60px;
	transition: all 0.5s ease;
}
/*++++++++++ ANIMATION HAMBUR +++++++++*/
#flag:checked + .menu-toogle span {
	background: none;
}
.menu-toogle span {
	transition: background 0s .25s;
}
.menu-toogle span:before {
	-webkit-transition-property: top, transform;
	transition-property: top, transform;
}
.menu-toogle span:after {
	-webkit-transition-property: bottom, transform;
	transition-property: bottom, transform;
}
#flag:checked + .menu-toogle span:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#flag:checked + .menu-toogle span:after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#flag:checked + .menu-toogle span:before,
#flag:checked + .menu-toogle span:after {
	-webkit-transition-delay: 0s, .25s;
	transition-delay: 0s, .25s;
}
.menu-toogle span:before,
.menu-toogle span:after {
	-webkit-transition-delay: .25s, 0s;
	-webkit-transition-duration: .25s, .25s;
	transition-delay: .25s, 0s;
	transition-duration: .25s, .25s;
}
/*++++++++++++++++++++ Nav +++++++++++++++++++++++++*/
nav {
	text-align: right;
	background-color: #a8199f;
}
nav ul li{
	display: inline-block;
	margin: 15px 20px;
	font-size: 25px;
}
nav ul li a{
	color: white;
}
/*++++++++++++++++++ tablas ++++++++++++++++++++++++++*/
.botoncrear{
	background: none;
	border: none;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	right: 200px;
}
.botoncrear:hover{
	color: #a8199f;	
}
table, th, td{
    border-left: solid 2px #fff!important;
    border-right: solid 2px #fff!important;
    border-top: none!important;
    border-bottom: none!important;
}
table {
    margin: 30px auto;
    border-collapse: collapse;
}
table caption {
	font-size: 40px;
	font-family: 'Bree Serif', serif;
	margin-bottom: 20px;
}

table img{
	max-height: 50px;
}
table th, td{
	padding: 5px 20px;
	color: #fff;
}
table td button{
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 20px;
}
table tr .fa-edit:hover{
	color: #a8199f;
}
table th{
    background-color: #a8199f;
	font-size: 20px;
	color: #fff;
}
table tr:nth-child(even) td{
    background-color: #525252;
}
table tr:nth-child(odd) td{
    background-color: #a8199f;;
}
table tr:nth-child(even) .fa-edit:hover{
	color: #a8199f;
}
table tr:nth-child(odd) .fa-edit:hover{
	color: #525252;
}

table tr .fa-edit{
	color: #fff;
	font-size: 25px;
}
table tr .fa-trash{
	color: #ff0000;;
	font-size: 25px;
}
/*   +++++++++++++++++++++++++++++++++++ iframe de las tablas   +++++++++++++++++++++++++++++++++++*/
#iframeuser {
	width: 70vw;
	height: 300px;
	margin: 0px auto 100px auto;
	display: block
}
#iframeart {
	width: 900px;
	height: 300px;
	display: block;
	margin: auto;
}
/*++++++++++++ formularios +++++++++++++*/
#form {
	width: 350px;
	margin: auto;
	padding: 30px 40px;
	text-align: center;
	background-color: #7ec5bb;
	border-radius: 20px;
	border-right: solid 30px #4adec8;
	border-left: solid 10px #4adec8;
	border-top: solid 10px #4adec8;
	border-bottom: solid 30px #4adec8;
	color: white;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
#formiframeuser{
	width: 90vw;
	height: 240px;
	margin: auto;
	padding: 50px 40px;
	text-align: right;
	background-color: #a8199f;
	color: white;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
#formiframeart{
	width: 800px;
	height: 240px;
	margin: auto;
	padding: 50px 40px;
	text-align: right;
	background-color: #a8199f;
	color: white;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
#formuser1 {
	position: fixed;
	top: -500px;
}
#formuser2{
	position: relative;
}
.input {
	background-color: #525252;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #fff;
	color: white;
	height: 20px;
}
.botoncerrar{
	position: absolute;
	right: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.botonform{
	border: none;
	font-size: 30px;
	padding: 20px;
	font-family: 'Stardos Stencil', cursive;
	margin-top: 20px;
	transform: rotate(5deg);
	cursor: pointer;
	position: absolute;
	left: 200px;
}
.botonform:hover{
	background-color: #525252;
	color: #fff;
	transition:0.3s;
	padding: 30px;
	transform: rotate(-5deg);
}
.botoncerrar:hover{
	color: white;
}
.botoncerrar i{
	font-size: 30px;
}
#formcreauser, #fomrmodiuser, #fomrmodiart, #formcrearart{
	position: absolute;
	left: -1300px;
	top: 500px;
	transition: 1s;
}
form label{
	font-size: 30px;
}
form input{
	margin-bottom: 10px;
}
.input1{
	margin-left: 63px;
}
.imgYboton *{
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}

/*+++++++++++++++++++++++++ Pagina de Usuario ++++++++++++++++++++++*/
section{
	margin: 60px;
	padding: 50px;
	background-color: white;
}
section h2{
	text-align: center;
}
section h2, button{
	display: inline-block;
}
.headuser{
	position: relative;
	margin-bottom: 50px;
}
.headuser img, .nameuser, .lugaruser{
	display: inline-block;
}
.headuser .nameuser, .lugaruser{
	position: absolute;
}
.headuser img{
	width: 200px;
}
.nameuser{
	margin-left: 50px;
}
.nameuser h1:nth-child(1){
	font-size: 60px;
}
.lugaruser{
	right: 0px;
	text-align: right;
}
.lugaruser h1:nth-child(1){
	font-size: 60px;
}
.bodysection{
	text-align: center;
}






