* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
h1, h2, h3{
	font-family: 'Bree Serif', serif;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 19px;
}
a{
	text-decoration: none;
}
body{
	background-size: 800px;
	background-image: url("https://img.wallpapersafari.com/desktop/1024/576/62/28/89hAtx.jpg"), url("https://media.tarkett-image.com/large/TH_25094225_25187225_001.jpg");
	background-blend-mode: luminosity;
	background-attachment: fixed;
}
body::before{
	content: '';
	background-color: rgba(156, 156, 156,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
/*+++++++++++++++++++++++ header y nav ++++++++++++++++++++++++++*/
header {
	background-image: linear-gradient(to right, #fff, #525252);
	overflow: hidden;
}
.logo {
	/* font-size: 150px; */
	font-family: 'Stardos Stencil', cursive;
	height: 12vw;
	margin-left: 60px;
	padding-top: 20px;
	transform: rotate(2deg);
}
header a {
	color: white;
	font-size: 9vw;
}
/*++++++++menu hambuergesa+++++*/
#flag{
	display: none;
}
.menu-toogle {
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	cursor: pointer;
	right: 20px;
	top: calc(12vw + 25px);
	z-index: 1;
}
.menu-toogle span{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 3px;
	margin: auto;
	background: #fff;
}
.menu-toogle span:before, .menu-toogle span:after{
	position: absolute;
	width: inherit;
	height: inherit;
	content: '';
	background: #fff;
	left: 0;
}
.menu-toogle span:before{
	top: -0.7em;
}
.menu-toogle span:after{
	bottom: -0.7em;
}
/*+++++++++++++++ NAV ++++++++++++++++++*/
#flag:checked ~ nav{
	bottom: 0px;
}
nav{
	position: relative;
	bottom: -60px;
	transition: all 0.5s ease;
}
nav ul{
	margin-right: 80px;
}


/*++++++++++ ANIMATION HAMBUR +++++++++*/
#flag:checked+.menu-toogle span{
	background: none;
}
.menu-toogle span{
	transition: background 0s .25s;
	font-size: 15px;
}
.menu-toogle span:before{
	-webkit-transition-property: top, transform;
	transition-property: top, transform;
}
.menu-toogle span:after{
	-webkit-transition-property: bottom, transform;
	transition-property: bottom, transform;
}
#flag:checked+.menu-toogle span:before{
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
#flag:checked+.menu-toogle span:after{
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#flag:checked+.menu-toogle span:before, #flag:checked+.menu-toogle span:after{
	-webkit-transition-delay: 0s, .25s;
	transition-delay: 0s, .25s;
}
.menu-toogle span:before, .menu-toogle span:after{
	-webkit-transition-delay: .25s, 0s;
	-webkit-transition-duration: .25s, .25s;
	transition-delay: .25s, 0s;
	transition-duration: .25s, .25s;
}
/*++++++++++++++++++++ Nav +++++++++++++++++++++++++*/
nav{
	text-align: right;
	background-color: #a8199f;
}
nav ul li{
	display: inline-block;
	padding: 15px 20px;
	font-size: 25px;
	transition: 0.1s;
}
nav ul li a{
	color: white;
	font-size: 25px;
}
nav ul li:hover{
	background-color: #525252;
	transition: 0.3s;
}

@media screen and (max-width: 750px){
	nav ul li{
		padding: 5px 10px;
	}
	nav ul li a{
		font-size: 20px;
	}
	.menu-toogle {
	top: calc(12vw + 14px);
	}
}
/*   +++++++++++++++++++++++++++++++++++ desplegar tablas   +++++++++++++++++++++++++++++++++++*/
#tabuser, #tabart, #tabdisc, #tabcomp{
	height: 0px;
	border-top: 3px solid #000;
	}
#botondesplegar{
	display: inline-block;
	transition: 1s;
}
.botonplegar{
	display: none;
	transition: 1s;
	width: 26px;
	height: 36px;
}
.tablas{
	overflow: auto;
	margin: 0px auto 100px auto;
	width: 70vw;
	background-color: #525252;
	transition: 1s;
}
/*++++++++++++++++++ tablas ++++++++++++++++++++++++++*/
.botoncrear, .botondesplegar,  .botonplegar{
	background: none;
	border: none;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	right: 15vw;
}
.botondesplegar, .botonplegar{
	right: 20vw;
}
.botoncrear:hover , botondesplegar:hover{
	color: #a8199f;
}
.tablacrear th, .tablacrear td{
	border-left: solid 2px #fff;
	border-right: solid 2px #fff;
	border-top: none !important;
	border-bottom: none !important;
}
.tablacrear{
	margin: 30px auto;
	border-collapse: collapse;
}
.tablacrear caption{
	font-size: 40px;
	font-family: 'Bree Serif', serif;
	margin-bottom: 20px;
}
.tablacrear th, .tablacrear td{
	padding: 5px 20px;
	color: #fff;
	font-size: 16px;
}
.tablacrear td button{
	background: none;
	border: none;
	cursor: pointer;
	margin-right: 20px;
}
.tablacrear td div{
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
}
.tablacrear tr .fa-edit:hover{
	color: #a8199f;
}
.tablacrear th{
	background-color: #a8199f;
	font-size: 20px;
	color: #fff;
}
.tablacrear tr:nth-child(even) td{
	background-color: #525252;
}
.tablacrear tr:nth-child(odd) td{
	background-color: #a8199f;;
}
.tablacrear tr:nth-child(even) .fa-edit:hover{
	color: #a8199f;
}
.tablacrear tr:nth-child(odd) .fa-edit:hover{
	color: #525252;
}
.tablacrear tr .fa-edit{
	color: #fff;
	font-size: 25px;
}
.tablacrear tr .fa-trash-alt{
	color: #ff0000;;
	font-size: 25px;
}
.tablacrear a{
	margin-right: 10px;
}
/* ++++++++++++++++++++++++++ formularios Login +++++++++++++++++ ++++++++++++++++++++++++*/
.bodylog{
	background-color: #a8199f;
	border-radius: 15px;
	margin:50px 20vw;
	text-align: center;
	padding-top: 20px;
}
.botonregis{
	background-color: #525252;
	border: none;
	padding: 10px;
	margin: 5px;
	color: #fff;
}
.botonregis:hover{
	background-color: #fff;
	color: #a8199f;
}
#regis{
	display: none;
}
.formlogin{
	text-align: right;
	padding: 0px 50px 50px 0px;
	position:relative;
}
.formlogin h2{
	margin: auto;
	display: inline-block;
}
.formlogin input{
	background-color: #525252;
	border: none;
	height: 35px;
	font-size: 20px;
	padding-left: 10px;
	border-bottom: 2px white solid;
	color: #fff;
	margin: 10px 0px;
}
.formlogin .botonlogin{
	background-color: #fff;
	border: none;
	font-size: 30px;
	padding: 20px;
	font-family: 'Stardos Stencil', cursive;
	margin-top: 20px;
	height: 90px;
	transform: rotate(5deg);
	color: #525252;
	cursor: pointer;
	position: absolute;
	left: 200px;
	bottom: -50px;
	transition: 0.3s;
}
.formlogin .botonlogin:hover{
	background-color: #a8199f;
	border: solid 2px #fff;
	color: #fff;
	transition: 0.3s;
	padding: 30px;
	transform: rotate(-5deg);
}

.msgerr {
	color: white;
	font-size: 20px;
}
/* ++++++++++++++++++++++++++ formularios de modificar ++++++++++++++++++++++++*/
.tablaform1 {
	margin: 50px 15vw 0px 15vw;
}
.tablaform1 div:nth-child(2) {
	display: inline-block;
}
.tablaform2 {
	border-collapse: collapse;
	display: inline-block;
}
.tablaform2 tr td {
	background: none;
	padding: 5px;
	font-family: 'Bree Serif', serif;
}
.tablaform2 tr td:nth-child(odd) {
	text-align: right;
}
.urlavatar {
	margin: 0px 15vw 50px;
}
.urlavatar label {
	font-family: 'Bree Serif', serif;
}
.formmodi {
	background-color: #a8199f;
	font-size: 30px;
	padding: 50px 0px;
}
.formmodi h1 {
	text-align: center;
}
.tablaform2 input, .urlavatar input {
	background-color: #525252;
	border: none;
	height: 35px;
	font-size: 20px;
	padding-left: 10px;
	border-bottom: 2px white solid;
	color: #fff;
}
.imgform {
	display: inline-block;
	width: 250px;
	height: 250px;
	background-size: cover;
	margin: auto;
}
.imginput {
	width: 847px;
}
.botmodi {
	margin-left: 50vw;
	background-color: #525252;
	border: none;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	padding: 10px;
}
.botmodi:hover {
	background-color: #fff;
	color: #525252;
}
/*+++++++++++++++++++++ formularios de crear ++++++++++++++++++++++++++*/
#form {
	width: 350px;
	margin: auto;
	padding: 30px 40px;
	text-align: center;
	background-color: #a8199f;
	color: white;
	font-family: 'Barlow Semi Condensed', sans-serif;
	position: absolute;
	left: calc(50vw - 200px);
	top: calc(50vh - 215px);
	border-radius: 15px;
}
.backform {
	width: 100vw;
	position: absolute;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.5);
	left: 0px;
	z-index: -1;
	filter: blur(400px);
}
#formuser1 {
	position: fixed;
	top: -500px;
}
#formuser2 {
	position: relative;
}
#form .input {
	background-color: #525252;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #fff;
	color: white;
	height: 20px;
	margin-bottom: 10px;
}
.cerr1 {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	left: calc(50vw - 200px);
	top: calc(50vh - 219px);
	z-index: 1;
	font-size: 30px;
}
.cerr2 {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	left: calc(100vw - 50px);
	z-index: 1;
}
.botonform {
	border: none;
	font-size: 30px;
	padding: 20px;
	font-family: 'Stardos Stencil', cursive;
	margin-top: 20px;
	transform: rotate(5deg);
	cursor: pointer;
	position: absolute;
	left: 200px;
	bottom: -50px;
}
.botonform2 {
	background-color: #525252;
	border: none;
	font-size: 20px;
	padding: 5px 10px;
	color: #fff;
	cursor: pointer;
}
.botonform2:hover {
	background-color: #fff;
	color: #525252;
}
.botonform:hover {
	background-color: #525252;
	color: #fff;
	transition: 0.3s;
	padding: 30px;
	transform: rotate(-5deg);
}
.botoncerrar:hover {
	color: white;
}
.botoncerrar i {
	font-size: 30px;
}
#formcreauser, #formcrearart, #formcreardisc {
	position: absolute;
	left: -110vw;
	top: 500px;
	transition: 1s;
}
form label {
	font-size: 30px;
}
.input1 {
	margin-left: 63px;
}
.imgYboton * {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}
.formborrar {
	display: inline-block;
}
/*+++++++++++++++++++++++++ Pagina de Usuario ++++++++++++++++++++++*/
section {
	width: 85vw;
	margin: 50px auto;
	padding: 50px;
	background-color: white;
}
section h2 {
	text-align: center;
}
.headuser{
	position: relative;
	margin-bottom: 50px;
}
.headuser .imguser, .nameuser, .lugaruser {
	display: inline-block;
}
.headuser .nameuser, .lugaruser {
	position: absolute;
}
.headuser .imguser {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
}
.nameuser {
	margin-left: 50px;
}
.nameuser h1:nth-child(1) {
	font-size: 60px;
}
.lugaruser {
	right: 0px;
	text-align: right;
}
.lugaruser h1:nth-child(1) {
	font-size: 60px;
}
.bodysection {
	text-align: center;
}
.logout {
	text-align: right;
	display: inline-block;
	width: auto;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.botonlogout {
	border: none;
	padding: 10px;
	background-color: #525252;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
}
.botonlogout:hover {
	background-color: #a8199f;
}
.botonlogout i {
	margin-left: 10px;
}
.carrito, .disccomp {
	text-align: center;
	min-height: 200px;
	max-height: 600px;
	overflow: auto;
	margin-bottom: 50px;
}
.discoscomp {
	margin: 30px auto;
	display: inline-block;
	width: 250px;
	color: #000;
}
.discoscomp *{
	display: block;
}
.discoscomp img{
	width: 200px;
	margin: auto;
}
.discoscomp .fa-euro-sign{
	font-size: 15px;
}
.imgcarrito {
	background-image: url(https://ih1.redbubble.net/image.1026630873.2447/flat,750x,075,f-pad,750x1000,f8f8f8.jpg);
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	margin: auto;
	display: block;
}
#carritoventana {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(255,255,255,0.8);
	z-index: 1;
	padding: 0px calc(50vw - 400px) calc(50vh - 100px);
	width: 800px;
}
.botonventcarrito {
	background-color: #525252;
	width: 200px;
	display: block;
	margin: auto;
	cursor: pointer;
}
.botonventcarrito:hover{
	background-color: #a8199f;
}
.formcarritoboton {
	background-color: #a8199f;
	padding: 100px 0px;
	border-radius: 15px;
}
.discoscaritoventana {
	display: inline-block;
	width: 200px;
}
.discoscaritoventana img{
	width: 50px;
}
.outventanacarrito {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	left: calc(50vw - 400px);
	top: -5px;
	font-size: 30px;
}

#botonesart {
	font-size: 50px;
	cursor: pointer;
}

#botonesart i{
	color: #525252;
}

#botonesart :hover {
	color: #a8199f;
}

/*++++++++++++++++++++++++++++ página del artista +++++++++++++++++++++++++++*/
.headart {
	position: relative;
	margin-bottom: 50px;
	width: 100%;
	height: 550px;
}
.headart img {
	display: inline-block;
}
.headart img {
	max-width: 65vw;
	max-height: 530px;
}
.infoart {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	padding: 0px 20px;
	right:10vw;
	background-color: rgba(200, 200, 200, 0.5);
	text-align: right;
}
.infoart h1 {
	font-size: 80px;
}
.bodyart {
	text-align: center;
}
.discosart {
	margin: 50px;
	display: inline-block;
	position: relative;
	width: 250px;
	height: 480px;
}
.discosart * {
	display: block;
}
.discosart img {
	width: 200px;
	margin: auto;
}
.discosart h2:nth-child(2) {
	height: 140px;
}
.discosart h2:nth-child(3), .fa-euro-sign {
	display: inline-block;
	margin: 0px 5px;
}
.discosart form {
	height: 100px;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.discosart form * {
	display: inline-block;
}
.discosart form input:nth-child(3) {
	width: 40px;
	margin-left: 20px;
}
.discosart .fa-euro-sign {
	font-size: 25px;
}
.discosart form a {
	padding: 10px;
	margin-top: 10px;
	background-color: #525252;
	color: #fff;
	font-family: 'Bree Serif', serif;
	font-size: 19px;
}
.discosart form a:hover{
	background-color: #a8199f;
}
.botoncarrito {
	background: none;
	border: none;
	position: absolute;
	left: 90px;
	cursor: pointer;
	bottom: 0px;
}
.botoncarrito .fa-shopping-cart {
	font-size: 50px;
	display: block;
}
.botoncarrito .fa-shopping-cart:hover {
	transition: 0.5s;
	font-size: 60px;
	color: #a8199f;
}
/*+++++++++++++++++++++++++++++++++ artistas  ++++++++++++++++++++++++++++*/
.artdisc {
	width: 90vw;
	margin: 5vw;
	display: inline-block;
	font-size: 0px;
}
.artdisca{
	background-size: cover;
	background-position: center;
	width: 25%;
	display: inline-block;
	left:50vw;
}
.artdisca div {
	position: relative;
	height: 22vw;
	background-image: linear-gradient(to top, #dadada, rgba(255,255,255,0) 50%);
	transition: 0.5s;
}
.artdisca div *{
	position: absolute;
	color: #a8199f;
	bottom: 0px;
	margin-left: 10px;
}
.artdisca div h2 {
	bottom: 35px;
	line-height: 30px;
}
.artdisca div .fa{
	left: 30px;
	font-size: 19px;
}
.artdisca div:hover{
	background-color: rgba(255,255,255,0.5);
	
	transition: 0.5s;
}
/*+++++++++++++++++++++++++++++++++ Index ++++++++++++++++++++++++++++*/
.catalogo {
	margin-bottom: 100px;
}
.catal {
	width: 40vw;
	margin-left: 6vw;
	margin-top: 20px;
	display: inline-block;
	font-size: 0px;
}
.linkcatal {
	display: block;
	color: #000;
	font-size: 50px;
	font-family: 'Bree Serif', serif;
	text-align: left;
	position: relative;
	margin-bottom: 5px;
}
.linkcatal span {
	height: 3px;
	width: 0vw;
	display: block;
	margin: -10px auto 10px auto;
	transition: 1s;
	left: 0;
	position: absolute;
}
.linkcatal:hover {
	color: #a8199f ;
}
.linkcatal:hover span{
	background-color: #a8199f;
	width: 40vw;
	transition: 1s;
	}
.catalogos{
	background-size: cover;
	background-position: center;
	width: 50%;
	display: inline-block;
}
.catalogos div {
	position: relative;
	height: 20vw;
	background-image: linear-gradient(to top, #dadada, rgba(255,255,255,0) 50%);
	transition: 0.5s;
}
.catalogos div * {
	position: absolute;
	color: #a8199f;
	bottom: 0px;
	margin-left: 10px;
}
.catalogos div h2 {
	bottom: 35px;
	line-height: 30px;
}
.catalogos div .fa {
	left: 30px;
	font-size: 19px;
}
.catalogos div:hover {
	background-color: rgba(255, 255, 255, 0.5);
	transition: 0.5s;
}
.cataldisc {
	left: 50vw;
}
@media screen and (max-width: 750px){
	.artdisca {
	width: 33%;
}
.artdisca div {
	position: relative;
	height: 28vw;
}
}
/*++++++++++++++++++++++++++++++++ footer +++++++++++++++++++++++++++++++++*/
.footer {
	bottom: 0;
	width: 100%;
	height: 250px;
	background-image: linear-gradient(to right, #dadada, #525252);
	color: #A8199F;
	font-size: 20px;
	font-family: Bree Serif, serif;
	text-align: center;
}

.footList {
	text-align: left;
	vertical-align: baseline;
	
}

.footContact {
	text-align: right;
	width: 200px; 
	height: 200px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ Página Quiénes Somos +++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.quienessomos h2 {
	color: #fff;
	padding: 1em;
	text-align: center;
}

.quienessomos {
	background-color: #525252;
	border-radius: 15px;
	margin: 1.5em;
}

.imagencentro {
	text-align: center;
}

#bienvenida {
	color: #FFC5ED;
	font-size: 22px;
}

#somosClandestino {
	color: #fff;
	font-size: 19px;
	font-family: Verdana, sans-serif;
	padding: 2em;
}

#somosClandestino {
	background-color: #525252;
	margin: 1.5em;
	border-radius: 15px;
}

/*++++++++++++++++++++++++++++++++ footer +++++++++++++++++++++++++++++++++*/
.footer {
	background-image: linear-gradient(to right, #dadada, #525252);
	font-size: 15px;
	font-family: Bree Serif, serif;
	height: 60px;
	text-align: center;
	column-count:3;
	column-gap: 0;
	column-width: 30vw;
	column-rule: 2px solid #a8199f;
	column-width: 140px;
	text-align: -webkit-center;
    padding: 10px 0;
    grid-column: 1/3;
}

.footer a{
	color: #fff;
}

footer li :hover{
	color: #a8199f ;
}

footer p {
	display:block;
	color: #2f2f2f;
	font-size: 19px;
	font-family: Bree Serif, serif;
	text-align: center;
}